<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %></title>

    <%= stylesheet_link_tag :bootstrap %>
    <%= stylesheet_link_tag :site %>
    <script src="https://use.fontawesome.com/7f6339dc59.js"></script>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag :bootstrap %>
  </body>
</html>
