<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <% this_url = "http://peerlab.community#{current_resource.url}" %>
    <% description = data.site.description %>
    <% title = current_page.data.title %>

    <title><%= title %></title>

    <meta itemprop="canonical" href="<%= this_url %>" />
    <meta itemprop="name" content="<%= title %>" />
    <meta itemprop="url" content="<%= this_url %>" />
    <meta itemprop="about" content="<%= description %>" />
    <meta itemprop="description" content="<%= description %>" />

    <!-- Open Graph -->
    <meta property="og:site_name" content="<%= data.site.name %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:url" content="<%= this_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="http://peerlab.community/images/intro-bg.jpg" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ashfurrow" />
    <meta name="twitter:creator" content="@ashfurrow" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="http://peerlab.community/images/intro-bg.jpg" />

    <%= stylesheet_link_tag :bootstrap %>
    <%= stylesheet_link_tag :site %>
    <script src="https://use.fontawesome.com/7f6339dc59.js"></script>
  </head>
  <body class="<%= page_classes %>">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand topnav" href="/">Peer Lab Community</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/find">Find a Peer Lab</a>
            </li>
            <li>
              <a href="/start">Start a Peer Lab</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <%= yield %>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li>
                <a href="/">Home</a>
              </li>
              <li class="footer-menu-divider">⋅</li>
              <li>
                <a href="/find">Find a Peer Lab</a>
              </li>
              <li class="footer-menu-divider">⋅</li>
              <li>
                <a href="/start">Start a Peer Lab</a>
              </li>
            </ul>
            <p class="copyright text-muted small">This site is <a href="https://github.com/ashfurrow/peerlab.community">open souce</a>.</p>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag :bootstrap %>
  </body>
</html>
