---
title: Find a Peer Lab
---

<!-- Header -->
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Find a Peer Lab</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->

<% data.events.peer_labs.each_with_index do |event, index| %>
  <div class="content-section-<%= (index % 2 == 0) ? 'a' : 'b' %>">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading"><%= event.city %></h2>
          <% if event.schedule %>
            <h4><%= event.schedule %></h3>
          <% end %>
          <% if event.location || event.meetup_url || event.contact_email || event.contact_twitter %>
            <p class="lead">
              <% if event.location %>
                <%= event.location %>.
              <% end %>
              <% if event.meetup_url %>
                More info <a href="<%= event.meetup_url %>">available here</a>. 
              <% end %>
              <% if event.contact_email || event.contact_twitter %>
                <% contact = "For questions, " %> 
                <% if event.contact_email %> 
                  <% contact += "email <a href='mailto:#{event.contact_email}'>#{event.contact_email}</a>"%>
                <% end %>
                <% if event.contact_email && event.contact_twitter %>
                  <% contact += ' or ' %>
		<% else %>
                  <% contact += '. ' %>
                <% end %>
                <% if event.contact_twitter && event.contact_twitter.is_a?(String) %>
                    <% event.contact_twitter = [event.contact_twitter] %>
                <% end %>
                <% if event.contact_twitter %>
                    <% links = event.contact_twitter.map {|t| "<a href='https://twitter.com/#{t}'>@#{t}</a>" } %>
                    <% contact +=  "tweet to " + links.join(", ") + ". " %>
               <% end %>
               <% if event.telegram_channel %>
                   <% t = event.telegram_channel.split(", ") %>
                   <% links = "<a href='https://t.me/#{t[0]}'>#{t[1]}</a>" %>
                   <% contact += "Our telegram channel: " + links + "." %>
               <% end %>
               <%= contact %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
